<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<h3>This tasks completed status is <%= @task.completed %></h3>

<%= link_to 'Back to tasks', tasks_path %>
<%= link_to 'Edit task', task_edit_path(@task) %>
<%= link_to 'Delete task', task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
